/* Header banner*/
.header-banner {
  margin: 0px;
  padding: 15px;
  background-image: url("../img/header.jpg");
  background-repeat: round;
}
.header-banner-text {
  margin: 0px;
  color: #22aaaa;
  font-size: 40px;
  font-family: "Georgia";
  font-style: italic;
  text-decoration: none;
}
.header-banner-subtext {
  margin: 0px;
  margin-left: 40px;
  color: #22aa88;
  font-size: 40px;
  font-family: "Georgia";
}

/* Container for sticky menu and products */
.menu-and-products-container > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 28px;
  font-family: "Georgia";
  font-style: italic;
  background: linear-gradient(to top, #333, #888);
}

.menu-and-products-container > ul > li {
  float: left;
}

.menu-and-products-container > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.menu-and-products-container > ul > li a:hover {
  background: linear-gradient(to top, #555, #aaa);
}

/* Home container */
.home-container {
  background-color:rgba(241, 241, 241);
  background-repeat: round;
  color: rgba(235, 152, 29);
  overflow: hidden;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.home-image {
  max-width: 50vw;
  max-height: 39vw;
  width: auto;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.home-text {
  color: rgb(19, 11, 87);
  font-size: 1.5rem;
}

/* Paintings container */
.painting-list-container {
  background: rgba(241, 241, 241, 1.0);
  margin-left: 20vw;
}
.painting-container {
  display: flex;
}
.painting-container:hover {
  background: rgba(241, 241, 241, .1);
}
.painting-container > img {
  background: rgba(241, 241, 241, 0.0);
  margin: 0px;
  padding: 10px;
  max-width: 40%;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  image-orientation: from-image;
}
.painting-container > img:hover {
  background: rgba(235, 152, 29, 0.9);
}
.painting-container > p {
  background: rgba(241, 241, 241, 0.0);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.painting-container > p:hover {
  background: rgba(230, 230, 230, 0.9);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/* Sculptures container */
.sculpture-list-container {
  background: rgba(241, 241, 241, 1.0);
  margin-left: 20vw;
}
.sculpture-container {
  display: flex;
}
.sculpture-container:hover {
  background: rgba(241, 241, 241, .1);
}
.sculpture-container > img {
  background: rgba(241, 241, 241, 0.0);
  margin: 0px;
  padding: 10px;
  max-width: 35%;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  image-orientation: from-image;
}
.sculpture-container > img:hover {
  background: rgba(235, 152, 29, 0.9);
}
.sculpture-container > p {
  background: rgba(241, 241, 241, 0.0);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.sculpture-container > p:hover {
  background: rgba(230, 230, 230, 0.9);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/* About container */
.about-container {
  background-color: rgba(241, 241, 241);
}
.about-image {
  max-width: 50vw;
  max-height: 39vw;
  width: auto;
  height: auto;
  margin: auto;
  display: block;
}
.about-text {
  color: rgb(19, 11, 87);
  font-size: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw  
}

/* Product image modal, hidden by default */
.product-image-modal {
  display: none;
  position: fixed;
  z-index: 1;    /* make this panel modal */
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if required */
  background-color: rgba(0,0,0,0.4);
}

.product-image-modal > div {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  margin: auto;
  margin-top: 50px;
  display: table;
}

.product-image-modal > div > img {
  max-width: 100%;
  max-height: 100%;
}

.product-image-modal > div > span {    /* Cross symbol to close modal */
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.product-image-modal > div > span:hover,
.product-image-modal > div > span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
